* {
  box-sizing: border-box;
}

#container {
  padding: -3px black solid;
  border: 3px black solid;
  display: flex;
  flex-wrap: wrap;
  width: 966px;
  height: 966px;
}

.square {
  height: 10px;
  width: 10px;
}

.black {
  background-color: black;
}
